Repository 100HnoMeuNome/simulator, changes with the owners that CODEOWNERS names for each.
All owners: @kubernetes-simulator/simulator, @s-irvine, @pi-unnerup, @abdullahgarcia, @raoulmillais, @jondkent

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.

* @kubernetes-simulator/simulator

# Scenarios
/simulation-scripts/scenario @s-irvine @pi-unnerup @abdullahgarcia

# Terraform
/terraform @s-irvine @raoulmillais @jondkent

# Tools
/tools @raoulmillais @abdullahgarcia

# Attack Container
/attack @raoulmillais @jondkent

# Simulator Binaries
/cmd @raoulmillais @jondkent @abdullahgarcia
/pkg @raoulmillais @jondkent @abdullahgarcia

# kubesim
/kubesim @s-irvine @raoulmillais

# Build Files
/Dockerfile @s-irvine @raoulmillais @pi-unnerup @jondkent
/Jenkinsfile @raoulmillais @s-irvine @pi-unnerup
/Makefile @s-irvine @raoulmillais @pi-unnerup @jondkent

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Owners: @s-irvine, @raoulmillais, @pi-unnerup, @jondkent

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: attack/Dockerfile to reduce vulnerabilities
  attack/Dockerfile
Owners: @raoulmillais, @jondkent

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia

fix: tools/scenario-tools/package.json, tools/scenario-tools/package-lock.json & tools/scenario-tools/.snyk to reduce vulnerabilities
  tools/scenario-tools/.snyk
  tools/scenario-tools/package-lock.json
  tools/scenario-tools/package.json
Owners: @raoulmillais, @abdullahgarcia
